.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  background-color: $list-green;
  color: white;
}

.site-title {
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  justify-content: center;
  text-align: center;

  &,
  &:visited {
    color: white;
  }

  &:hover {
    color: white;
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 2.25;
  justify-content: center;
  text-align: center;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: white;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

